{% block script %}
<script src="static/js/cart.js" defer></script>
{% endblock script %}
{% for product_key,product in cart_items %}
              
              <!-- Single item -->
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"
                      class="w-100" alt="Blue Jeans Jacket" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
  
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <div class="d-none" id="pkey">{{product_key}}</div>
                  <p><strong>{{product['product']['title']}}</strong></p>
                  <!-- <p>Color: blue</p> -->
                  <!-- <p>Size: M</p> -->
                  <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip" title="Remove item">
                    <i class="fas fa-trash"></i>
                  </button>
                
                  <!-- Data -->
                </div>
  
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity document.querySelector('input[type=number]').stepDown() -->
                  <div class="d-flex mb-4" style="max-width: 150px">
                    <!--<button class="btn btn-primary px-3 me-2 h-50"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      <i class="fas fa-minus"></i>
                    </button> -->
  
                    <div class="form-outline">
                      <input min="1" name="quantity"  id="quantity" value="1" oninput="updatePrice(this,{{product['product']['price']}})" type="number" class="form-control" />
                      <label class="form-label" for="quantity">Quantity</label>
                    </div>
  
                    <!--<button class="btn btn-primary px-3 ms-2 h-50"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fas fa-plus"></i>
                    </button> -->

                    <!-- Price -->
                    
                  <p class="text-start text-md-center ml-3">
                    <strong><span id="price_{{product_key}}" data-price="{{product['product']['price']}}">{{product['product']['price']}}</span></strong>
                  </p>
                  <!-- Price -->
                  </div>
                  <!-- Quantity -->
  
                  
                </div>
              </div>
              <!-- Single item -->
  
              <hr class="my-4" />
              <!--
              <script>
                function updatePrice(input, pricePerUnit) {
                    const quantity = parseInt(input.value, 10);
                    const priceElement = document.getElementById(`price_${input.dataset.productId}`);
                    const totalPrice = quantity * pricePerUnit;
                    priceElement.textContent = totalPrice.toFixed(2);
                }
        
                const quantityInput = document.getElementById(`quantity_${product['product']['id']}`);
                const pricePerUnit = parseFloat("{{ product['product']['price'] }}");
                quantityInput.addEventListener('input', function() {
                    updatePrice(this, pricePerUnit);
                });
            </script>-->
              {% endfor %}
  