./Client/.*
Client/__pycache__/*
Client/__*
./Client/*/*.pyc
./Client/*.pyc
./Client/*.json
./Client/*-*.json
*.json
./*.json
./*-*.json
./*/*.json
./*/*-*.json
./*/*/*.json
./*/*/*-*.json
./Client/token.json
.Client/mail-token.json
./*/update_later.txt
Client/Keys/*