{% extends 'base.html' %}
{% block content %}
  <!-- Modal -->
  <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>



<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./static/images/banner_img_01.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Command Injection Vulnerability </b> Protection</h1>
                            <h3 class="h2">  Use of Flask, REGEX, and Input Sanitization </h3>
                            <p>
                                Powered by Flask and its robust Jinja templating system, our website is fortified against command injection attacks through stringent input sanitation, regex-based filtering, and proactive security escapes, ensuring a safe browsing experience for our users.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./static/images/banner_img_02.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1"> SQL Injection Attack </h1>
                            <h3 class="h2"> Added Security for Database from SQL Injection Attacks </h3>
                            <p>
                                Utilizing parameterized inputs for database queries, our website is meticulously safeguarded against SQL injection attacks, ensuring that your data remains secure and interactions remain trusted
                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./static/images/banner_img_03.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1"> Authentication </h1>
                            <h3 class="h2"> Added Security for Login Authentication </h3>
                            <p>
                                Leveraging advanced authentication mechanisms, our website cross-references entered passwords against the top 3-5 most common passwords, ensuring that users choose stronger, more secure credentials for enhanced account protection. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories of The Month</h1>
            <p>
                These are our recommended products.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./static/images/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Watches</h5>
          
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./static/images/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
           
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./static/images/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>
         
        </div>
    </div>
</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
                <p>
                    These are our featured products.
                </p>
            </div>
        </div>
        <div class="row">
            {% for product_key in ['product1', 'product2', 'product3'] %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{{ url_for('process_view', product_key=product_key) }}">
                            <!-- Product Image from Firebase -->
                            {% if product_data and product_key in product_data %}
                            <img src="{{ product_data[product_key]['image_url'] }}" class="card-img-top" alt="{{ product_data[product_key]['title'] }} image" style=" height: 300px; object-fit: cover;">
                            {% else %}
                                <!-- Fallback image in case no image URL is found -->
                                <img src="path/to/your/default/image.jpg" class="card-img-top" alt="Default Image">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <!-- Star ratings logic -->
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <!-- Product price -->
                                <li class="text-muted text-right">
                                    {% if product_data and product_key in product_data %}
                                        ${{ product_data[product_key]['price'] }}
                                    {% else %}
                                        Price
                                    {% endif %}
                                </li>
                            </ul>
                            <a href="{{ url_for('process_view', product_key=product_key) }}" class="h2 text-decoration-none text-dark">
                                {% if product_data and product_key in product_data %}
                                    {{ product_data[product_key]['title'] }}
                                {% else %}
                                    Product Title
                                {% endif %}
                            </a>
                            <p class="card-text">
                                {% if product_data and product_key in product_data %}
                                    {{ product_data[product_key]['description'] }}
                                {% else %}
                                    Product Description
                                {% endif %}
                            </p>
                            <!-- You might need to adjust the reviews logic if it's different for each product -->
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Featured Product -->



{% endblock content %}