{% extends 'base.html' %}
{% block script %}{% endblock script %}
{% block content %}
    <div class="row mt-3">
        <section class="vh-100 gradient-custom ">
            <div class="container py-3">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">

                            <div class="card-body text-center">

                                <form method="post">
                                    <div class="mb-2 mt-3 pb-2">
                                        <img src="{{ url_for('static',filename='images/secECOMlogo.png') }}" alt="Logo" class="w-50"/>

                                        <h2 class="fw-bold mt-3 text-uppercase">Login</h2>
                                        <p class="text-white-50 mb-3">Please enter your login and password!</p>

                                        <div class="form-outline form-white mb-4">
                                            <label class="form-label" for="emailID">Email</label>
                                            <input type="email" id="emailID" name="emailID" class="form-control form-control-lg" required/>

                                        </div>

                                        <div class="form-outline form-white mb-4">
                                            <label class="form-label" for="passwordID">Password</label>
                                            <div class="input-group">
                                                <input type="password" id="passwordID" name="passwordID" class="form-control form-control-lg" aria-describedby="password-addon" required/>
                                                <button class="btn  btn-light" type="button" id="password-addon">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </div>

                                        </div>

                                        <p class="small mb-3 pb-lg-2">
                                            <a class="text-white-50" href="{{ url_for('password_reset') }}">Forgot password?</a>
                                        </p>
                                        <!-- Add the reCAPTCHA widget 
										<div class="g-recaptcha" data-sitekey="6LeewHAnAAAAAM4ejtsxXqlFmd5HZ7vR5HXQAOIZ"></div>
										-->
                                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                                    </div>
                                </form>
                                <p>Don't have an account?
                                    <a href="{{ url_for("register") }}" class="text-white-50 fw-bold">Sign Up</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
