<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>MFA</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body>
        <section class="vh-auto gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark">
                            <div class="card-body p-5 text-center text-white">
                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <img src="{{ url_for('static',filename='images/secECOMlogo.png') }}" alt="Logo" class="w-50"/>
                                    <p class="mb-3">
                                        Change Password
                                    </p>
                                    <form method="post" action="{{ url_for('reset') }}">
                                        <div class="form-outline form-white mb-4">
                                            <label class="form-label" for="newPassword">New Password</label>
                                            <input type="password" id="newPassword" name="password" class="form-control form-control-lg"/>
                                        </div>
                                        <div class="form-outline form-white mb-4">
                                            <label class="form-label" for="renewPassword">Re type New Password</label>
                                            <input type="password" id="renewPassword" class="form-control form-control-lg"/>
                                        </div>
                                        <input class="form-control d-none" type="hidden" id="email" name="email" value="{{ email}}">
                                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Change Password</button>
                                    </div>
                                </form>
                                <div>
                                    <p class="mb-0" style="color: #69b37c;">
                                        Back to
                                        <a href="login.html" class="fw-bold" style="color: #69b37c;">Sign In</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </body>
</html>
