<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MFA</title>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    
<div class="d-flex align-items-center justify-content-center vh-100 ">
    <div class="shadow p-4 justify-content-center text-center">
        <img src="{{url_for('static',filename=image_path)}}" alt="QR Code">
        <form method="post" action="{{ url_for('verify_mfa') }}">
            <div class="form-group mb-3">
                <label class="form-label" for="verification_code">Enter the verification code from Google Authenticator:</label>
                <input class="form-control" type="text" id="verification_code" name="verification_code">
                <input class="form-control d-none" type="hidden" id="username" name="username" value="{{ session['username'] }}">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

</body>
</html>

    



